/* BACKGROUND */

html {
  font-size: 62.5%; /* Set the base font size to 10px */
}

html, body {
  overflow: hidden;
}

.game {
  text-align: center;
  display: flex;
}

.game-span {
  margin-top: -5em;
}
/*Landscape and puddle of mud*/
.sky {
    background-color: #8dc6ff;
    height: 80vh;
    width: 100%;
}

.sun {
    display:inline-block;
    border-radius:50%;
    height:6.25em;
    width:6.25em;
    margin-left: 12.5em;
    margin-bottom: 2.125em;
    background:#facf5a;
    box-shadow: 0 0 0.625em #facf5a,
                  0 0 3.75em #facf5a,
                  0 0 12.5em yellow,
                  inset 0 0 5em yellow;
    z-index:12;
    z-index:-99;
    transform: scale(1.5);
  }

  .cloud {
  display:inline-block;
  background:white;
  width:6.25em;
  height:6.25em; 
  border-radius:50%;
  position:relative;
  top: 3em;
  -webkit-filter: blur(0.375em);
  animation: 45000ms cloudAnimation linear infinite;
  opacity:0.76;
  transform: scale(1.5);
}
.cloud:before {
  content:"";
  display:inline-block;
  background:white;
  width:6.25em;
  height:6.25em; 
  -webkit-filter: blur(0.1875em);
  position:relative;
  border-radius:50%;
  top:-1.875em;
  left:3.75em;
  transform: scale(1.5);
}
.cloud:after {
  content:"";
  display:inline-block;
  background:white;
  width:12.5em;
  height:6.25em; 
  -webkit-filter: blur(0.1875em);
  position:relative;
  border-radius:50%;
  top:-5em;
  left:4.375em;
  transform: scale(1.5);
}

@keyframes cloudAnimation {
  0%{
    transform: translate(-6.25em,0);
  }
  100% {
    transform: translate(37.5em,0);
  }
}

.grass {
    background-color: #2c786c;
    height: 60vh;
    width: 100vw;
    margin-top: 10em;
}

/*Puddle of Mud*/

.puddle {
  float: right;
  position: inherit;
}

.mud {
    background-color: #402a23;
    position: relative;
    right: 20%;
    height: 9.375em;
    width: 38em;
    border-radius: 50%;
    top: -3em;
    transform: scale(1.2);
}

.mud-one {
    background-color: #402a23;
    position: relative;
    height: 7.5em;
    width: 16em;
    top: -2.875em;
    left: 7.5em;
    border-radius: 50%;
    transform: scale(1.2);
}

.mud-two {
    background-color: #402a23;
    position: relative;
    height: 8.75em;
    width: 30em;
    top: -4.44em;
    left: 0.625em;
    border-radius: 50%;
    transform: scale(1.2);
}

/*Splash effect*/

.splash {
  position: relative;
  right: 26%;
  top: -21em;
  opacity: 0;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.splatter0 {
    background-color: #402a23;
    position: relative;
    height: 11.4em;
    width: 23.75em;
    transform: rotate(170deg);
    border-radius: 90% 80%;
    left: 15em;
    top: 3.125em;
}

.splatter1 {
    background-color: #402a23;
    position: relative;
    float: right;
    height: 13.25em;
    width: 15.125em;
    left: -5em;
    top: 2.25em;
    transform: rotate(-110deg);
    border-radius: 50% 70%;
}

.splatter2 {
    background-color: #402a23;
    position: relative;
    float: right;
    height: 19.5em;
    width: 28.75em;
    left: 7em;
    top: -6em;
    border-radius: 50% 80% 60%;
}

.splatter3, 
.splatter4, 
.splatter5, 
.splatter6,
.splatter7,
.splatter9,
.splatter10 {
  position: relative;
  border-radius: 80% 100% 100% 20%;
}

.splatter3 {
  width: 6.125em;
  height: 7.5em;
  background-color: #402a23;
  left: 37.5em;
  top: -2em;
  transform: rotate(30deg);
}

.splatter4 {
  width: 4.125em;
  height: 6em;
  background-color: #402a23;
  left: 2.25em;
  top: -6.375em;
  transform: rotate(-50deg);
}

.splatter5 {
  width: 6.375em;
  height: 5.125em;
  background-color: #402a23;
  left: 31.25em;
  top: 4em;
  transform: rotate(90deg);
}

.splatter6 {
  width: 5.5em;
  height: 6.75em;
  background-color: #402a23;
  left: 15em;
  top: -2em;
  transform: rotate(150deg);
}

.splatter7 {
  width: 5em;
  height: 6.25em;
  background-color: #402a23;
  top: -17em;
  left: 1.25em;
  transform: rotate(150deg);
}

.splatter8 {
  background-color: #402a23;
  position: relative;
  float: left;
  height: 17.5em;
  width: 26.75em;
  left: -2em;
  top: -42em;
  border-radius: 50% 85% 60%;
  transform: rotate(120deg);
}

.splatter9 {
  width: 5em;
  height: 6.25em;
  background-color: #402a23;
  top: -52em;
  left: -2em;
  transform: rotate(150deg);
}

.splatter10 {
  width: 7.375em;
  height: 6.125em;
  background-color: #402a23;
  left: -5em;
  top: -20em;
  transform: rotate(90deg);
}


 /* RUNNING PIGS */

#gamePigBrown{
  position: relative;
  left: 25em;
  top: 3em;
  transform: scale(1.35);
}

#gamePigPink{
  position: relative;
  left: 22em;
  top: 3.8em;
  transform: scale(1.35);
}

.body {
  height: 5em;
  width: 6.1em;
  position: relative;
  border-top-left-radius: 40%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

}

.body-brown {
  background-color: #854836;
}

.body-pink {
  background-color: #ffaaa5;
}

.go-brown {
  position: relative;
}

.go-pink {
  position: relative;
}

.head {
  background-color: #854836;
  height: 4.8em;
  width: 5.5em;
  position: inherit;
  top: -2em;
  left: 2.8em;
  border-radius: 50%;
  box-shadow: 0.0626em 0.0626em 0.0937em -0.0626em rgb(17, 17, 17);
}

.head-brown {
  background-color: #854836;
}
.head-pink {
  background-color: #ffaaa5;
}

.nose{
  height: 2.1em;
  width: 1.1em;
  border-top: -30%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  transform: rotate(-10deg);
  position: absolute;
  top: -0.6em;
  left: 7.8em;
  display: flex;
}

.nose-brown {
  background-color: #854836;
}
.nose-pink {
  background-color: #ffaaa5;
}

.nostril{
  height: 0.8em;
  width: 0.3em;
  border-top-left-radius: 80%;
  border-bottom-left-radius: 90%;
  background-color: #45171d;
  position: relative;
  top: 0.55em;
  left: 0.8em;
}

.eyes {
  background: white;
  border: 0.12em solid #45171d;
  height: 1.8em;
  width: 1.6em;
  border-radius: 100%;
  display: flex;
  position: absolute;
  top: -0.8em;
  left: 5.7em;
}

.dot {
  height: 1em;
  width: 1em;
  border-radius: 100%;
  position: relative;
  background: #45171d;
  top: 0.5em;
  left: 0.5em;
}

.ears {
  display: flex;
  position: relative;
}

.ear-right {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: -7.8em;
  width: 2.1em;
  height: 2.1em;
  left: 2.5em;
  transform: rotate(-50deg);
  z-index: -1;
  box-shadow: -0.0625em -0.1875em  0.125em -0.125em black;
  position: relative;
}
.ear-left {
  background-color: black;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: -7.8em;
  width: 2.1em;
  height: 2.1em;
  left: 5.3em;
  transform: rotate(65deg);
  box-shadow: -0.25em -0.0625em 0.125em  -0.125em black;
  position: relative;
}

.ear-left-pink, .ear-right-pink {
  background-color: #ffaaa5;
}

.ear-left-brown, .ear-right-brown {
  background-color: #854836;
}

.legs {
  display: flex;
  position: absolute;
}

.leg-front, .leg-back {
  background-color: #854836;
  height: 1.3em;
  width: 1.3em;
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.leg-front-pink, .leg-back-pink {
  background-color: #ffaaa5;
}

.leg-front-brown, 
.leg-back-brown {
  background-color: #854836;
}

.leg-front {
  left: 3.2em;
  top: -2.75em;
}

.leg-back {
  left: 0.1em;
  top: -2.75em;
}

.foot-front, .foot-back {
  height: 0.4em;
  width: 1.3em;
  background-color: #45171d;
  position: relative;
  border-bottom-right-radius: 10%;
  top: 1.2em;
}

/* Left hand part of tail */
.tail::before {
  content: '';
  position: absolute;
  left: -1em; /* -16px / 16 */
  top: 1.25em; /* 20px / 16 */
  width: 1.25em; /* 20px / 16 */
  height: 1.5625em; /* 25px / 16 */
  border-radius: 50%;
  box-shadow: 0.3125em 0.125em 0px 0px #854836; /* 5px / 16, 2px / 16 */
  transform: rotate(95deg);
}

/* Right hand part of tail */
.tail::after {
  content: '';
  position: absolute;
  top: 1.875em; /* 30px / 16 */
  left: -1.125em; /* -18px / 16 */
  width: 1.25em; /* 20px / 16 */
  height: 1.25em; /* 20px / 16 */
  border-radius: 50%;
  box-shadow: -0.1875em -0.0625em 0px 0px #854836; /* -3px / 16, -1px / 16 */
  transform: rotate(45deg);
}

.tail-pink::before {
  content: '';
  position: absolute;
  left: -1em; /* -16px / 16 */
  top: 1.25em; /* 20px / 16 */
  width: 1.25em; /* 20px / 16 */
  height: 1.5625em; /* 25px / 16 */
  border-radius: 50%;
  box-shadow: 0.3125em 0.125em 0px 0px #ffaaa5; /* 5px / 16, 2px / 16 */
  transform: rotate(95deg);
}

/* Right hand part of tail */
.tail-pink::after {
  content: '';
  position: absolute;
  top: 1.875em; /* 30px / 16 */
  left: -1.125em; /* -18px / 16 */
  width: 1.25em; /* 20px / 16 */
  height: 1.25em; /* 20px / 16 */
  border-radius: 50%;
  box-shadow: -0.1875em -0.0625em 0px 0px #ffaaa5; /* -3px / 16, -1px / 16 */
  transform: rotate(45deg);
}


/* Keyframes animation, started in app.js */

@keyframes move {
  from {left: 3%;}
  to {left: 40%;}
}

@keyframes move-two {
  from {left: 3%;}
  to {left: 50%;}
}

@keyframes bounce {
0%, 20%, 30%, 40%, 50%, 60%, 90%, 100% {transform: translateY(0);}
70% {transform: translateY(-10px) rotate(-10deg);}
  75% {transform: translateY(-5px);}
  80% {transform: translateY(-1px);}
  85% {transform: translateY(10px);}
}

@keyframes bounce-two {
0%, 10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%, 55%, 80%, 100% 
  {transform: translateY(0);}
60% {transform: translateY(-10px) rotate(-10deg);}
  65% {transform: translateY(-5px);}
  70% {transform: translateY(-1px);}
  75% {transform: translateY(10px);}
}

@keyframes jump {
0%, 20%, 30%, 50%, 80%, 100% {transform: translateY(1);}
40% {transform: translateY(-300px);}
  65% {transform: translateY(-300px) rotate(15deg);}
  67% {transform: translateY(-280px) rotate(18deg);}
  69% {transform: translateY(-250px) rotate(20deg);}
  70% {transform: translateY(-200px) rotate(45deg);}
  72% {transform: translateY(-100px) rotate(55deg);}
  74% {transform: translateY(-100px) rotate(65deg);}
  76% {transform: translateY(-80px) rotate(70deg);}
  78% {transform: translateY(-50px) rotate(75deg);}
  90% {transform: translateY(-150px) rotate(80deg);}
}

@keyframes jump-two {
0%, 10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%, 55%, 80%, 100% {transform: translateY(1);}
40% {transform: translateY(-300px);}
  60% {transform: translateY(-300px) rotate(15deg);}
  65% {transform: translateY(-280px) rotate(18deg);}
  69% {transform: translateY(-250px) rotate(20deg);}
  70% {transform: translateY(-200px) rotate(45deg);}
  72% {transform: translateY(-100px) rotate(55deg);}
  74% {transform: translateY(-100px) rotate(65deg);}
  76% {transform: translateY(-80px) rotate(70deg);}
  78% {transform: translateY(-50px) rotate(75deg);}
  90% {transform: translateY(-150px) rotate(80deg);}
}

@keyframes running-ear-left {
  50%{
      transform: rotate(90deg);
  }
}

@keyframes running-ear-right {
  50%{
      transform: rotate(-40deg);
  }
}

@keyframes run-right {
  50%{
      transform: rotate(-30deg);
  }
}

@keyframes run-left {
  50%{
      transform: rotate(30deg);
  }
}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 100%; /* Set the base font size to 8px for screens smaller than 1200px */
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 50%; /* Set the base font size to 8px for screens smaller than 1200px */
  }
}


/* Small devices (landscape phones, 600px and up) */
@media (min-width: 600px) and (max-width: 767px){
  html {
    font-size: 40%; /* Set the base font size to 6.4px for screens smaller than 768px */
  }
}

/* Very Small devices (max 600) */
@media (max-width: 600px)  {
  .sky {
    height: 50vh;
  }
  .sun {
    height:5.25em;
    width:5.25em;
    margin-left: 9.5em;
    margin-bottom: 5.125em;
    transform: scale(1);
  }
  .cloud {
    top: 1em;
    transform: scale(1);
  }
  .cloud:before {
    top:-1.875em;
    left:3.75em;
    transform: scale(1);
  }
  .cloud:after {
    top:-6em;
    left:4.375em;
    transform: scale(1);
  }
  .grass {
    margin-top: -4.5em;
    height: 100vh;
    width: 100vw;
  }
  #gamePigBrown{
    position: relative;
    left: 3em;
    top: 1em;
    transform: scale(.8);
  }
  
  #gamePigPink{
    position: relative;
    left: 1em;
    top: 1em;
    transform: scale(.8);
  }

  .puddle {
    margin-right: -14em;
    margin-top: -19em;
    transform: scale(0.5);
  }
  .splash {
   transform: scale(1);
  }
  @keyframes jump {
    0%, 20%, 30%, 50%, 80%, 100% {transform: translateY(1);}
    40% {transform: translateY(-200px);}
      60% {transform: translateY(-200px) rotate(15deg);}
      65% {transform: translateY(-180px) rotate(18deg);}
      69% {transform: translateY(-150px) rotate(20deg);}
      70% {transform: translateY(-100px) rotate(45deg);}
      72% {transform: translateY(-30px) rotate(55deg);}
      74% {transform: translateY(-30px) rotate(65deg);}
      76% {transform: translateY(-40px) rotate(70deg);}
      78% {transform: translateY(-50px) rotate(75deg);}
      90% {transform: translateY(-100px) rotate(80deg);}
    }
    
    @keyframes jump-two {
    0%, 10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%, 55%, 80%, 100% {transform: translateY(1);}
    0%, 20%, 30%, 50%, 80%, 100% {transform: translateY(1);}
    40% {transform: translateY(-200px);}
      60% {transform: translateY(-200px) rotate(15deg);}
      65% {transform: translateY(-180px) rotate(18deg);}
      69% {transform: translateY(-150px) rotate(20deg);}
      70% {transform: translateY(-100px) rotate(45deg);}
      72% {transform: translateY(-30px) rotate(55deg);}
      74% {transform: translateY(-30px) rotate(65deg);}
      76% {transform: translateY(-40px) rotate(70deg);}
      78% {transform: translateY(-50px) rotate(75deg);}
      90% {transform: translateY(-100px) rotate(80deg);}
  }
}