html, body {
    height: 100%;
    margin: 0;
  }
  
  html {
    font-size: 62.5%; /* Set the base font size to 10px */
  }
  
  html, body {
    overflow: hidden;
  }

.top {
    margin-top: 10em;
    margin-left: 10em;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    margin-bottom: 10em;
}

.heading {
    text-align: center;
    margin: 1em 2em 1em 2em;
}

h1 {
    color: #ffaaa5;
    font-size: 5.5vw;
    text-shadow: 0 0 0.1em #45171d, 0 0 1em #ffaaa5;
    place-items: center;
}

.heading h2 {
    font-size: 3vw;
    margin-top: -0.8em;
}

.heading h3 {
    font-size: 2vw;
    margin-bottom: 3em;
    margin-top: 2em;
}

.col-6 {
    display: flex;
    align-items: center; 
    margin-left: 20em;
  }

 .top-pig-pink, .pig-two {
    margin: 5em 0 2em 32em;
} 

/* PINK PIG TOP */

.top-body-pink {
    background-color: #ffaaa5;
    height: 5.5em;
    width: 5.5em;
    position: relative;
    border-radius: 50%;
}

.top-head-pink {
    background-color: #ffaaa5;
    height: 5.3em;
    width: 5.3em;
    position: relative;
    top: -3em;
    border-radius: 50%;
}
.top-eyes-pink {
    display: flex;
    position: absolute;
    left: 1.3em;
}

.top-eye-left, .top-eye-right {
    background: white;
    border: 0.0999em solid #45171d;
    height: 1.7em;
    width: 1.5em;
    border-radius: 100%;
    margin: -0.3em
}

.top-dot-pink {
    height: 0.9em;
    width: 0.9em;
    border-radius: 100%;
    position: relative;
    background: #45171d;
    top: 0.455em;
    left: -1.1em;
}

.top-nose-pink {
  display: flex;
    background-color: #ffaaa5;
    height: 1.25em;
    width: 1.55em;
    border: 0.0999em solid #45171d;
    border-radius: 100%;
    position: absolute;
    top: 3.55em;
    left: 1.9em;
}

.top-nostril {
    display: flex;
    height: 0.48em;
    width: 0.56em;
    border-radius: 100%;
    background-color: #45171d;
    position: relative;
    top: 0.5em;
    margin-left: 0.1em;
}

.top-ear-left-pink {
    transform: rotate(-20deg);
    background-color: #ffaaa5;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: -0.7em;
    width: 2em;
    height: 2em;
    box-shadow: -0.25em -0.0625em 0.125em  -0.125em black;
    position: relative;
}

.top-ear-right-pink {
    transform: rotate(20deg);
    background-color: #ffaaa5;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: -0.55em;
    left: 3.6em;
    width: 2em;
    height: 2em;

    box-shadow: -0.0625em -0.1875em  0.125em -0.125em black;
    position: absolute;
}

.top-foot {
    background-color: #45171d;
    height: 0.8em;
    width: 1.5em;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.foot-right {
    left: 2.8em;
    top: 5.8em;
}

.foot-left {
    left: 1.1em;
    top: 5em;
}

.top-pink-scale {
    transform: scale(140%);
}
/*BROWN PIG TOP*/

/* .pig-two {
    margin: 3em;
} */

.top-body-brown {
    background-color: #854836;
    height: 7em;
    width: 8.1em;
    justify-items: stretch;
    position: relative;
    border-top-left-radius: 40%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

 .top-head-brown {
    background-color: #854836;
    height: 6.8em;
    width: 7.5em;
    position: inherit;
    top: -2em;
    left: 3.5em;
    border-radius: 50%;
    box-shadow: 0.0626em 0.0626em 0.0937em -0.0626em rgb(17, 17, 17);
}

.top-nose-brown {
    background-color: #854836;
    height: 3.1em;
    width: 2.1em;
    border-top: -30%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    transform: rotate(-10deg);
    position: absolute;
    top: 1.6em;
    left: 6.2em;
    display: flex;
}

.top-nostril-brown {
    height: 1em;
    width: 0.5em;
    border-top-left-radius: 80%;
    border-bottom-left-radius: 90%;
    background-color: #45171d;
    position: relative;
    top: 0.8em;
    left: 1.6em;
}

.top-eye-brown {
    background: white;
    border: 0.12em solid #45171d;
    height: 2.8em;
    width: 2.5em;
    border-radius: 100%;
    display: flex;
    position: absolute;
    top: 1.2em;
    left: 3.5em;
}

.top-dot-brown {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    position: relative;
    background: #45171d;
    top: 0.9375em;
    left: 0.9375em;
}


.top-ears-brown {
    display: flex;
    position: relative;
}

.top-ear-left-brown {
    background-color: #854836;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: -1.2em;
    width: 3.1em;
    height: 3.1em;
    left: 3em;
    transform: rotate(65deg);
    box-shadow: -0.25em -0.0625em 0.125em  -0.125em black;
    position: relative;
}

.top-ear-right-brown {
    background-color: #854836;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: -1em;
    width: 3.1em;
    height: 3.1em;
    left: -1.2em;
    transform: rotate(-50deg);
    z-index: -1;
    box-shadow: -0.0625em -0.1875em  0.125em -0.125em black;
    position: relative;

}

.top-legs-brown {
    display: flex;
    position: absolute;
}

.top-leg-front, .top-leg-back {
    background-color: #854836;
    height: 2em;
    width: 2em;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.top-leg-front {
    left: 4.6em;
    top: -1.3em;
}

.top-leg-back {
    left: 0.05em;
    top: -1.3em;
}

.top-foot-front, .top-foot-back {
    height: 0.6em;
    width: 2em;
    background-color: #45171d;
    position: relative;
    border-bottom-right-radius: 10%;
    top: 1.8em;
}

/* Left hand part of tail */
.top-body-brown::before {
    content: '';
    position: absolute;
    left: -1em; /* -16px / 16 */
    top: 1.25em; /* 20px / 16 */
    width: 1.25em; /* 20px / 16 */
    height: 1.5625em; /* 25px / 16 */
    border-radius: 50%;
    box-shadow: 0.3125em 0.125em 0px 0px #854836; /* 5px / 16, 2px / 16 */
    transform: rotate(95deg);
  }
  
  /* Right hand part of tail */
  .top-body-brown::after {
    content: '';
    position: absolute;
    top: 1.875em; /* 30px / 16 */
    left: -1.125em; /* -18px / 16 */
    width: 1.25em; /* 20px / 16 */
    height: 1.25em; /* 20px / 16 */
    border-radius: 50%;
    box-shadow: -0.1875em -0.0625em 0px 0px #854836; /* -3px / 16, -1px / 16 */
    transform: rotate(45deg);
  }
  

/* Mud Buttons */

.container-mud-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
}

#start-mud, #instruction-mud {
    background-color: #402a23;
    position: relative;
    margin: 0 1em;
    height: 9.375em;
    width: 38em;
    border-radius: 50%;
    transform: scale(40%);
}

.mud-two .start-mud-one, .instruction-mud-one {
    background-color: #402a23;
    position: relative;
    height: 8.75em;
    width: 30em;
    top: -4.44em;
    left: 0.625em;
    border-radius: 50%;
}

.start-mud-two, .instruction-mud-two {
    background-color: #402a23;
    /* position: relative; */
    height: 8.75em;
    width: 30em;
    top: -4.44em;
    left: 0.625em;
    border-radius: 50%;
}

#instruction-mud {
    margin: 2em 3em 1em 35em;
}

#start-mud {
    margin: 2em -10em 1em 20em;
}

.points-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -60%);
    z-index: 1;
    font-size: 5em;
    color: #e7eaf6;
    text-align: center;
    width: 100%; 
}

.start-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -60%);
    z-index: 1;
    font-size: 5em;
    color: #e7eaf6;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    body {
      font-size: 80%;
    }
    .top {
      margin-top: 5em;
      margin-left: 5em;
    }
    .container {
      margin-bottom: 5em;
    }
    .heading h1 {
      font-size: 4.5vw;
    }
    .heading h2 {
      font-size: 2.5vw;
    }
    .heading h3 {
      font-size: 1.5vw;
    }
    .col-6 {
      margin-left: 10em;
    }
    .top-pig-pink, .pig-two {
      margin: 2em 0 2em 10em;
    } 
  }